.counters {
  display: flex;
  flex-flow: row wrap;
}

.counter {
  flex: 0 auto;
  margin: 4px;
  border: 4px solid lightgray;
  border-radius: 8px;
  padding: 4px;
  color: gray;
}

.counter * {
  display: block;
  margin: 4px 0;
}

.counter .uniqueId {
  width: 30px;
  height: 30px;
  color: white;
  background-color: seagreen;
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
  font-size: 1.25em;
}
