.counters {
  display: flex;
  flex-flow: row wrap;
}

.counter {
  flex: 0 auto;
  margin: 4px;
  border: 4px solid lightgray;
  border-radius: 8px;
  padding: 4px;
  color: gray;
}

.counter input {
  display: block;
}

.counter .uniqueId {
  width: 50px;
  height: 50px;
  color: white;
  background-color: seagreen;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  font-size: 1.5em;
}

.counter button {
  display: block;
}